#wrapper {
  max-width: 600px;
  margin: auto;
  text-align: justify; }
  #wrapper .article {
    display: flex;
    flex-direction: row;
    margin: 10px 0px; }
    #wrapper .article .left {
      margin-right: 15px; }
      #wrapper .article .left img {
        max-width: 250px;
        height: auto;
        margin-top: 5px; }
  #wrapper .right .title {
    text-decoration: none;
    margin: 0px; }
    #wrapper .right .title h2 {
      color: #323232;
      margin: 0px; }
  #wrapper .right .cate-time {
    color: #757575; }
    #wrapper .right .cate-time span {
      color: #004174;
      font-weight: bold; }
  #wrapper .right .desc {
    color: #4b4b4b; }

/*# sourceMappingURL=bai1.css.map */
