@charset "UTF-8";
@font-face {
  font-family: "SFD-Bold";
  src: url("../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../font/SFD-Medium.woff2") format("woff2"); }
body {
  max-width: 700px;
  margin: auto; }

.article {
  align-content: center;
  display: flex;
  margin-top: 20px; }
  .article .img-cover img {
    max-width: 250px;
    height: 330px;
    margin-right: 20px; }
  .article .content .post-cover .title-post {
    padding: 0;
    margin: 0; }
    .article .content .post-cover .title-post a {
      text-decoration: none;
      display: block;
      color: #333;
      font-size: 20px;
      line-height: 26px;
      margin-top: -5px;
      font-family: SFD-Bold; }
  .article .content .post-cover .category-time {
    color: #777;
    font-size: 14px;
    font-family: SFD-Medium;
    margin-top: 10px;
    display: block; }
    .article .content .post-cover .category-time > span {
      color: #41455e;
      font-size: 14px;
      font-family: SFD-Medium; }
  .article .content .post-cover .description {
    font-size: 13px;
    font-family: Arial;
    color: #4d4d4d;
    line-height: 18px;
    display: block; }
  .article .content .read-more {
    border-top: 1px dotted #cbcbcb;
    padding-top: 15px;
    color: #949494;
    font-size: 11px;
    margin: 0px; }
  .article .content .news-relate {
    padding: 0;
    margin: 0; }
    .article .content .news-relate li {
      padding: 5px 0 5px 13px;
      list-style: none; }
      .article .content .news-relate li a {
        text-decoration: none;
        display: block;
        color: #41455e;
        font-size: 14px;
        font-family: SFD-Bold;
        line-height: 20px; }
        .article .content .news-relate li a::before {
          content: "■";
          color: #fc743b;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em; }
        .article .content .news-relate li a span {
          font-size: 13px;
          color: #888;
          font-family: SFD-Medium; }

/*# sourceMappingURL=bai9.css.map */
