@import "mixin";

$box-width: 700px;
$box-height: auto;

.news-slide {
	max-width: $box-width;
	height: $box-height;
	font-family: Arial;
	box-sizing: border-box;
	background: #f5f5f5;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	// top
	.header {
		h3 {
			padding: 20px 0 20px 0px;
			text-transform: uppercase;
			position: relative;
			margin: 0 0 0 60px;
			.icon-news-slide {
				background: url("../image/slide-box.png");
				width: 33px;
				height: 22px;
				display: inline-block;
				position: absolute;
				left: -45px;
			}
		}
	}

	//news slide
	.news-list {
		@include reset-ul-li;
		position: relative;
		ul {
			width: 100%;
			height: 278px;
			overflow: hidden;
			display: flex;
			white-space: nowrap;
			position: relative;
		}
		// news list
		.article {
			width: 262px;
			height: 278px;
			margin-left: 20px;
			border: 1px solid #e6e6e6;
			background: #fff;
			border-radius: 3px;
			box-sizing: content-box;
			box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.05);
			.header {
				position: relative;
				display: block;
				img {
					width: 100%;
					height: auto;
				}
				.view {
					background: rgba(0,0,0,0.7);
					position: absolute;
					display: block;
					width: inherit;
					width: 100%;
					height: 35px;
					bottom: 5px;
					color: #fff;
					>span {
						position: relative;
						font-size: 15px;
						bottom: 4px;
						left: 35px;
						&::before {
							position: absolute;
							background: url("../image/icon-view.png");
							background-repeat: no-repeat;
							width: 24px;
							height: 24px;
							content: '';
							bottom: -1px;
							left: -25px;
						}
						label, b {
							font-weight: normal;
							margin-right: 5px;
						}
						label {
							color: #fff;
							font-size: 14pt;
							line-height: 45px;
						}
					}
					
				}
			}
			.title {
				padding: 10px;
				margin: 0px;
				font-size: 17px;
				width: inherit;
				box-sizing: border-box;
				a {
					text-decoration: none;
					color: #333;
					white-space: pre-line;
				}
			}
		}
		
		// button control next-previous
		.btn-prev, .btn-next, .btn-disable {
			position: absolute;
			width: 35px;
			height: 95px;
			z-index: 10;
			cursor: pointer;
			top: 50px;
		}
		// button previous
		.btn-prev {
			background: url("../image/kenh14-vn.png") -70px -137px no-repeat;
			left: 0;
			background-color: rgba(251, 108, 39, 0.9);
			border-radius: 0 3px 3px 0;
		}
		// button next
		.btn-next {
			background: url("../image/kenh14-vn.png") -115px -137px no-repeat;
			right: 0;
			background-color: rgba(251, 108, 39, 0.9);
			border-radius: 3px 0 0 3px;
		}
		//button disable
		.btn-disable {
			background-color: #333 !important;
			opacity: .8;
			pointer-events: none;
		}
	}

	//dotted control
	.control {
		text-align: center;
		margin: 20px 0;
		.dotted {
			width: 8px;
			height: 8px;
			background: #c4c4c4;
			border-radius: 50%;
			margin: 3px;
			display: inline-block;
		}
		.slide-active {
			background-color: #ff8000;
		}
	}
}

