@import "mixin";
$size-box: 340px;
$font-family: SFD-Bold;
body {
	width: $size-box;
	margin: auto;
}
.news-category {
	box-sizing: border-box;
	max-width: $size-box;
	padding: 15px;
	box-shadow:  0px 0px 10px #ccc;
	font-family: $font-family;
	.title-cate {
		margin-top: 5px;
		a {
			@include define-a(#222);
			text-transform: uppercase;
			border-left: 5px solid #fe5f02;
			font-weight: bold;
			padding: 0px 15px;
			margin: 0 0 15px 0;
			font-size: 18pt;
			line-height: 18px;
		}
	}
	.post-cover {
		a {
			img {
				max-width: $size-box - 30px;
			}
		}
		.title-post-cover {
			margin-top: 0px;
			a {
				@include define-a(#333);
				font-size: 20px;
				line-height: 24px;
				margin: 10px 0;
			}
		}
	}
	@include reset-ul-li;
	.news-relate {
		border-top: 1px solid #888;
		.article {
			max-width: 340px;
			display: flex;
			padding: 10px 0;
			a {
				img {
					width: 60px;
					height: 60px;
					margin-right: 15px;
				}
			}
			h4 {
				margin: 0px;
				a {
					@include define-a(#2d2d2d);
					font-size: 15px;
					line-height: 18px;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}