@import "mixin";

$size-box: 700px;
$size-img-width: 210px;
$size-img-height: 130px;
$font-family: Arial;

body {
	width: $size-box;
	margin: auto;
}

#news-category {
	max-width: $size-box;
	font-family: $font-family;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #999;

	//title box
	.top-news-category {
		display: flex;
		justify-content: space-between;
		padding: 10px 0px;
		span {
			margin: 0px;
		}
		.title {
			text-transform: uppercase;
			border-left: 5px solid #fe5f02;
			font-weight: bold;
			padding-left: 10px;
			margin: 0 0 15px 0;
			font-size: 18pt;
			line-height: 18px;
			flex-grow: 1;
		}
		.view-date {
			display: flex;
			justify-content: space-between;
			flex-grow: 2;
			>span {
				line-height: 20px;
			}
			.date, .month, .year, .btnView {
				border-radius: 4px;
				height: 30px;
				margin-top: -5px;
			}
			.date {
				width: 40px;
			}
			.month {
				width: 80px;
			}
			.year {
				width: 55px;
			}
			.btnView {
				width: 50px;
				background-color: #444;
				text-transform: uppercase;
				color: #fff;
				border: none;
			}
		}
	}

	//net content
	.main-news-category {
		display: flex;
		flex-wrap: wrap;
		.article {
			width: $size-img-width;
			margin-bottom: 20px;
			.title {
				img {
					width: $size-img-width;
					height: $size-img-height;
				}
			}
			h4 {
				padding: 10px 0px;
				margin: 0px;
				a {
					font-size: 15px;
					line-height: 18px;
					@include define-a(#2d2d2d);
					display: inline;
					&:hover {
						opacity: 0.9;
						transition: 0.3;
					}
				}
				.time-post {
					color: #777;
					font-size: 12px;
					font-weight: normal;
					&::before {
						content: " - "
					}
				}
				.highlights {
					padding: 3px 6px;
					background: #99a6b6;
					color: #fff;
					border-radius: 4px;
					font-family: Arial;
					margin-left: 10px;
					&::before {
						content: "";
					}
				}
			}
		}
	}
}

// align the boxs
.box-center-align {
	margin: 0 20px;
}