@import "mixin";

$box-width: 325px;
$box-height: 480px;
$font-family: Arial; 

body {
	width: $box-width;
	margin: auto;
}

#latest-news {
	font-family: $font-family;
	box-sizing: border-box;
	max-width: $box-width;
	max-height: $box-height;
	//box-shadow: 0px 0px 8px #444;
	.header {
		display: flex;
		justify-content: space-between;
		padding: 10px 0px;
		height: 32px;
		span {
			margin: 0px;
			max-width: 180px;
		}
		.title {
			text-transform: uppercase;
			border-left: 5px solid #fe5f02;
			font-weight: bold;
			padding-left: 10px;
			margin: 0 0 15px 0;
			font-size: 18pt;
			line-height: 18px;
			flex-grow: 1;
		}
		.control {
			display: flex;
			justify-content: space-between;
			.btn-prev, .btn-next {
				background-color: #dadada;
				width: 40px;
				height: 22px;
				border-radius: 3px;
				position: relative;
				&::before {
					content: "";
					width: 0;
					height: 0;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -3px;
					margin-left: -6px;
				}
			}
			.btn-prev {
				opacity: 0.3;
				margin-right: 5px;
				&:hover {
					opacity: 0.5;
				}
				&::before {
					border-bottom: 6px solid black;
					
				}
			}
			.btn-next {
				opacity: 0.8;
				&:hover {
					opacity: 1;
				}
				&::before {
					border-top: 6px solid black;
				}
			}
		}
	}
	.list-news {
		background-color: #fff9f3;
		@include reset-ul-li;
		ul {
			border: 1px solid #ddcebc;
			border-radius: 4px;
			background-color: #fff9f2;
			overflow-y: scroll;
			height: $box-height - 52px;

			//custum scrollbar
			//@include custum-scrollbar(5px,rgba(0,0,0,.1),auto);
			/* width */
			&::-webkit-scrollbar {
			  width: 5px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
			  border: 1px solid rgba(0,0,0,.1);
			  border-radius: 3px;
			}
			 
			/* Handle */
			&::-webkit-scrollbar-thumb {
			  background: rgba(0,0,0,.1); 
			  border-radius: 5px;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
			  background: rgba(0,0,0,.2);; 
			}
			//end custum
			li {
				border-bottom: 1px dotted #c2c2c2;
				display: flex;
				.time-post, h4 {
					margin: 5px 0px;
					padding: 10px;
				}
				.time-post {
					font-size: 13px;
					line-height: 42px;
					color: #fe5f02;
					border-right: 1px dotted #c2c2c2;	
				}
				h4 {
					a {
						@include define-a(#2d2d2d);
						font-family: SFD-Bold;
						font-size: 15px;
						line-height: 20px;
						&:hover {
							color: #555;
							transition: 0.2s;
						}
					}
				}
			}
		}
	}
}