@import "mixin";
$box-width: 325px;
$box-height: 480px;
$font-family: Arial;

body {
	width: $box-width;
	margin: auto;
}

.list-news { 
	@include reset-ul-li;
	font-family: $font-family;
	max-width: $box-width;
	max-height: $box-height;
	position: relative;
	.article {
		padding: 10px;
		transition: all .8;
		opacity: .6;
		&:hover {
			opacity: 1;
			background: #f1f1f1;
		}
		.content {
			display: flex;
			.left {
				img {
					width: 60px;
					height: 60px;
					margin-right: 15px;
					border-radius: 5px;
				}
			}
			.right {
				a {
					@include define-a(#555);
					font-weight: bold;
					font-size: 15px;
					line-height: 18px;
				}
				small {
					color: #9a9a9a;
				}
			}
		}
	}
}