@font-face {
  font-family: "SFD-Bold";
  src: url("../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../font/SFD-Medium.woff2") format("woff2"); }
.navbar {
  font-family: SFD-Medium;
  max-width: 100%;
  background-color: #666; }
  .navbar .navbar-ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin: auto;
    max-width: 960px;
    display: flex; }
    .navbar .navbar-ul li a {
      text-decoration: none;
      color: #fff;
      display: block;
      font-size: 15px;
      line-height: 40px;
      padding: 0 12px; }
      .navbar .navbar-ul li a:hover {
        background-color: #333;
        transition: .1s; }
    .navbar .navbar-ul .item-home a {
      background: url("../image/kenh14-vn.png") -490px 12px no-repeat;
      padding: 0 12px 40px; }

/*# sourceMappingURL=menu1.css.map */
