@font-face {
  font-family: "SFD-Bold";
  src: url("../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../font/SFD-Medium.woff2") format("woff2"); }
.navbar {
  font-family: SFD-Medium;
  max-width: 100%;
  background-color: #ccc; }
  .navbar .navbar-ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin: auto;
    max-width: 960px;
    display: flex; }
    .navbar .navbar-ul li a {
      text-decoration: none;
      color: #fff;
      display: block;
      font-size: 15px;
      line-height: 40px;
      padding: 0 12px; }
      .navbar .navbar-ul li a:hover {
        background-color: #8c0914;
        transition: .1s; }
    .navbar .navbar-ul .item-home a {
      background: url("../image/kenh14-vn.png") -490px 12px no-repeat;
      padding: 0 12px 40px; }

.navbar {
  background: #f7f7f7 url("../image/bg-menu.jpg"); }
  .navbar .navbar-ul li {
    box-shadow: -1px 0px 0px #043364; }
    .navbar .navbar-ul li a {
      padding: 7px 10px;
      font-size: 11px;
      font-family: Tahoma; }
      .navbar .navbar-ul li a:hover {
        margin-top: 3px;
        padding-top: 4px;
        border-radius: 6px 6px 0 0;
        background-color: #5981be; }
  .navbar .navbar-ul .item-home {
    box-shadow: none; }
  .navbar .navbar-ul .item-home a {
    padding: 2px 10px; }
    .navbar .navbar-ul .item-home a:hover {
      margin-top: 0px;
      padding-top: 2px; }

/*# sourceMappingURL=menu3.css.map */
