@font-face {
  font-family: "SFD-Bold";
  src: url("../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../font/SFD-Medium.woff2") format("woff2"); }
body {
  width: 700px;
  margin: auto; }

#news-category {
  max-width: 700px;
  font-family: Arial;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #999; }
  #news-category .top-news-category {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px; }
    #news-category .top-news-category span {
      margin: 0px; }
    #news-category .top-news-category .title {
      text-transform: uppercase;
      border-left: 5px solid #fe5f02;
      font-weight: bold;
      padding-left: 10px;
      margin: 0 0 15px 0;
      font-size: 18pt;
      line-height: 18px;
      flex-grow: 1; }
    #news-category .top-news-category .view-date {
      display: flex;
      justify-content: space-between;
      flex-grow: 2; }
      #news-category .top-news-category .view-date > span {
        line-height: 20px; }
      #news-category .top-news-category .view-date .date, #news-category .top-news-category .view-date .month, #news-category .top-news-category .view-date .year, #news-category .top-news-category .view-date .btnView {
        border-radius: 4px;
        height: 30px;
        margin-top: -5px; }
      #news-category .top-news-category .view-date .date {
        width: 40px; }
      #news-category .top-news-category .view-date .month {
        width: 80px; }
      #news-category .top-news-category .view-date .year {
        width: 55px; }
      #news-category .top-news-category .view-date .btnView {
        width: 50px;
        background-color: #444;
        text-transform: uppercase;
        color: #fff;
        border: none; }
  #news-category .main-news-category {
    display: flex;
    flex-wrap: wrap; }
    #news-category .main-news-category .article {
      width: 210px;
      margin-bottom: 20px; }
      #news-category .main-news-category .article .title img {
        width: 210px;
        height: 130px; }
      #news-category .main-news-category .article h4 {
        padding: 10px 0px;
        margin: 0px; }
        #news-category .main-news-category .article h4 a {
          font-size: 15px;
          line-height: 18px;
          text-decoration: none;
          color: #2d2d2d;
          display: block;
          display: inline; }
          #news-category .main-news-category .article h4 a:hover {
            opacity: 0.9;
            transition: 0.3; }
        #news-category .main-news-category .article h4 .time-post {
          color: #777;
          font-size: 12px;
          font-weight: normal; }
          #news-category .main-news-category .article h4 .time-post::before {
            content: " - "; }
        #news-category .main-news-category .article h4 .highlights {
          padding: 3px 6px;
          background: #99a6b6;
          color: #fff;
          border-radius: 4px;
          font-family: Arial;
          margin-left: 10px; }
          #news-category .main-news-category .article h4 .highlights::before {
            content: ""; }

.box-center-align {
  margin: 0 20px; }

/*# sourceMappingURL=news-category.css.map */
