@font-face {
  font-family: "SFD-Bold";
  src: url("../../font/SFD-Bold.woff2") format("woff2"); }
@font-face {
  font-family: "SFD-Medium";
  src: url("../../font/SFD-Medium.woff2") format("woff2"); }
.box-playlist {
  box-sizing: border-box;
  width: 700px;
  height: 400px;
  display: flex;
  border: 1px solid red;
  padding: 10px; }
  .box-playlist .pla-left {
    width: 55%;
    position: relative; }
    .box-playlist .pla-left > a img {
      width: 100%;
      height: 100%; }
    .box-playlist .pla-left .title {
      position: absolute;
      z-index: 1;
      bottom: 0px;
      left: 0px;
      margin: 0px;
      background: rgba(0, 0, 0, 0.7); }
      .box-playlist .pla-left .title a {
        text-decoration: none;
        color: #fff;
        display: block;
        font-family: SFD-Bold;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        position: relative;
        bottom: 0px;
        padding: 20px; }
        .box-playlist .pla-left .title a::before {
          content: "|";
          color: red;
          font-weight: bold;
          margin-right: 5px; }
  .box-playlist .pla-right {
    width: 45%;
    font-family: SFD-Medium;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .box-playlist .pla-right .header {
      background-color: #dcdcdf;
      padding: 12px 15px 15px; }
      .box-playlist .pla-right .header span {
        background: url("../image/mute-logo.png") left top no-repeat;
        width: 86px;
        height: 20px;
        display: block;
        background-size: cover; }
    .box-playlist .pla-right .list-news ul {
      height: 325px;
      overflow-y: scroll; }
    .box-playlist .pla-right .list-news ul {
      padding: 0px;
      margin: 0px; }
      .box-playlist .pla-right .list-news ul li {
        list-style: none; }
    .box-playlist .pla-right .list-news .article {
      padding: 10px 10px 10px 20px;
      transition: all .8;
      opacity: .6; }
      .box-playlist .pla-right .list-news .article:hover {
        opacity: 1;
        background: #f1f1f1; }
      .box-playlist .pla-right .list-news .article .content {
        display: flex; }
        .box-playlist .pla-right .list-news .article .content .left img {
          width: 60px;
          height: 60px;
          margin-right: 15px;
          border-radius: 5px; }
        .box-playlist .pla-right .list-news .article .content .right a {
          text-decoration: none;
          color: #424242;
          display: block;
          font-weight: bold;
          font-size: 15px;
          line-height: 18px; }
        .box-playlist .pla-right .list-news .article .content .right small {
          color: #9a9a9a; }
      .box-playlist .pla-right .list-news .article .play {
        content: url("../image/wechoice-right-playicon.png");
        display: block; }

.scrollbar-y {
  /* width */
  /* &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  } */
  /* Handle */
  /* Handle on hover */ }
  .scrollbar-y::-webkit-scrollbar {
    width: 7px; }
  .scrollbar-y::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    border-radius: 3px;
    opacity: 0.3; }
  .scrollbar-y::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=playlist.css.map */
