#wrapper {
	max-width: 600px;
	margin: auto;
	text-align: justify;
	.article {
		display: flex;
		flex-direction: row;
		margin: 10px 0px;
		.left {
			margin-right: 15px;
			img {
				max-width: 250px;
				height: auto;
				margin-top: 5px; 
			}
		}
	}
	.right {
		.title {
			text-decoration: none;
			margin: 0px;
			h2 {
				color: #323232;
				margin: 0px;
			}
		}
		.cate-time {
			color: #757575;
			span {
				color: #004174;
				font-weight: bold;
			}
			
		}
		.desc {
			color: #4b4b4b;
		}
	}
}